.btn-box {
    display: flex;
    align-items: center;
  }
  
  .btn {
    background-color: #eec02a;
    border: 0;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    line-height: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    &:hover {
      background-color: #f4d194;
      color: #FFF;
    }
  }
  
  .number {
    margin-left: 10px;
    color: #a63c00;
  }