.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }
  
  .name {
    width: 100px;
  }

  .limited {
    color: red;
    font-size: 12px;
  }

  .desrc {
    font-size: 12px;
    word-break: break-all;
    width: 150px;
  }